// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

html {
  margin: 0;
  padding: 0;
}

body {
    margin: 40px 0 0 0;
    padding: 0;
    top: 0;
    height: 100%;
}

#header {
    .brand {
      font-weight: bold;
    }
    a#sign-out {
        float: right;
    }
    span#welcome {
        color: #fff;
        margin-left: 15px;
    }
}

body#app {
    .container {
        .row {
            #site {
                margin-top: 10%;
                height: 80%;
                background: #EEEEEE;
                box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);

                border-radius: 10px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;

                padding-top: 70px;
                padding-bottom: 70px;
                .container {
                    background: #F6F6F6;
                    border-top: dotted 1px #000000;
                    border-bottom: dotted 1px #000000;
                    height: 300px;
                }
            }
        }
    }
}

body#splash {
    background: url(xv.png) repeat #FFFFFF;
    .container {
        #splash-box {
            /* http://gradients.glrzad.com */

            background-image: linear-gradient(bottom, rgb(221,221,221) 23%, rgb(238,238,238) 81%);
            background-image: -o-linear-gradient(bottom, rgb(221,221,221) 23%, rgb(238,238,238) 81%);
            background-image: -moz-linear-gradient(bottom, rgb(221,221,221) 23%, rgb(238,238,238) 81%);
            background-image: -webkit-linear-gradient(bottom, rgb(221,221,221) 23%, rgb(238,238,238) 81%);
            background-image: -ms-linear-gradient(bottom, rgb(221,221,221) 23%, rgb(238,238,238) 81%);

            background-image: -webkit-gradient(
              linear,
              left bottom,
              left top,
              color-stop(0.23, rgb(221,221,221)),
              color-stop(0.81, rgb(238,238,238))
            );

            box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
            text-align: center;
            margin: 25% auto;
            width: 300px;
            height: 100px;
            padding: 50px;

            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            h1 {
                font-size: 40pt;
                color: #AAAAFF;
                text-shadow: 0 .5px 0 #666666;
                font-family: 'Bitter', serif;
            }
            #beta {
                display: block;
                margin: 10px 15px 0 0;
                float: right;
            }
            #sign-in-btn {
                margin-top: 15px;
            }
        }
    }
}

.well {
    min-height: 10px;
}

a img {
  border: none;
}

h2 {
  color: #666666;
  font-size: 20pt;
  line-height: 20pt;
}

h2 .smaller {
  font-size: 50%;
  color: #999999;
  text-align: right;
  line-height: 10pt;
  margin-right: 10px;
}

.center {
  text-align: center;
}