<div class='row-fluid'>
  <h1>Change(d)</h1>
</div>
<div class='row-fluid'>
  <div id='sign-in-btn' class='span12'>
    <%= link_to image_tag("fb.png"), "/auth/facebook", id: "with-facebook" %>
  </div>
</div>
