<h1>Change(d)</h1>
<h2>This app will help you form new habits<div class="smaller">or break old ones</div></h2>
<p class="center">Please sign in to start improving your life (one day at a time)</p>
<p>
  <%= link_to image_tag("fb.png"), "/auth/facebook", :id => "with-facebook" %>
  <%= link_to image_tag("tw.png"), "/auth/twitter", :id => "with-twitter" %>
</p>
