<div class="page-header">
  <h1>Lifestyle Recipes</h1>
</div>
<div id='recipe-container'></div>
<div class='well'>
  <form>
    <textarea id='new-recipe' placeholder='Add new recipe'></textarea>
    <input id='add-new-recipe' class='btn' type='button' value='Add'>
  </form>
</div>